  @charset "utf-8";
  *{font-family:微软雅黑;}
  body,p,h1,h2,h3,h4,h5,h6,dl,dd{margin:0; -webkit-user-select: none;-webkit-text-size-adjust: none; line-height: 1;font-weight: normal; }
  *,::before,::after{padding: 0;margin: 0;/*需要针对移动设备做设置*/-webkit-box-sizing: border-box;box-sizing: border-box;-webkit-tap-highlight-color:transparent;}
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{ display: block; }
  ol,ul{list-style:none;padding:0;margin:0;}
  a{text-decoration:none;outline:none;}
  img{border:none; vertical-align:top;}
  td,th{padding:0;}
  table{border-collapse:collapse;}
  form{margin:0;display:inline}
  input{ margin:0;padding:0;-webkit-appearance: none; outline:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
  select{ margin:0;-webkit-appearance: none;appearance: none;}
  textarea{resize:none; overflow:auto;margin:0; padding:0;-webkit-appearance: none;appearance: none;}
  map,map area{outline:none;}
  .ellipsis { white-space:nowrap; text-overflow:ellipsis; overflow:hidden}
  .clearfix::before,.clearfix::after{content: "";display: block;height: 0;line-height: 0;visibility: hidden;clear: both;}
  .vCenter{justify-content:center;align-items:center; display:-webkit-box; display:-webkit-flex;}